# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
*.manifest
!/FusionScript/CadGrab_Fusion_Import.manifest
*.spec

# Distribution / packaging
dist/
build/
*.egg-info/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project specifics
/CAD_Files/
*.zip
test_*.txt
structure.txt
